
* {
    box-sizing: border-box !important;
    margin: 0;
}
html, body, #app {
    // background-color: rgba(black, 0.42) !important;
    height: 100%;
    // overflow: hidden;
}

.main-container{
    height: 100%;
}

.game-parts {
    display: flex;
    justify-content: space-between;
}

.dice-roll-zone-dices {
    display: flex;
    flex-direction: row;
}

.dice {
    // 500 / 83
    width:84px;
    height: 83px;
    // filter: grayscale(100%);
}

.dice-0 { background: url("../images/dices.jpg") -416px 0; }
.dice-1 { background: url("../images/dices.jpg") 0 0; }
.dice-2 { background: url("../images/dices.jpg") -83px 0; }
.dice-3 { background: url("../images/dices.jpg") -167px 0; }
.dice-4 { background: url("../images/dices.jpg") -333px 0; }
.dice-5 { background: url("../images/dices.jpg") -250px 0; }

.dice-frozen{
    border: 1px solid black !important;
}

.dice-special-face-food {
    border: 1px solid orange;
}
.dice-special-face-worker {
    border: 1px solid blue;
}

.city {
    display: flex;
    flex-direction: column;

    .city-districts {
        display: flex;
        flex-direction: row;

        .district {
            width: 50px;
            min-width: 50px;
            height: 50px;
            margin: 0 10px;
            background-color: orange;
            border: 1px solid black;
        
            .district-population{
                line-height: 50px;
                text-align: center;
            }
        }
    
        .district-done {
            border-color: greenyellow;
        }
    }
}

.individual-stock {
    display: flex;
    flex-direction: row;

    .line {
        display: flex;
        flex-direction: row;
    }

    .line-point {
        display: flex;
        flex-direction: column;
        
        .point {
            width: 5px;
            margin: auto;

            border: 5px black solid;
            border-radius: 10px;
        }

        .point-value {
            width: 21px;
            text-align: center;
            font-weight: bold;
            font-size: 13px;
        }
    }

    .line-point:first-child{
        margin-right: 5px;
    }

    .line-point-current-position .point{
        border-width: 10px;
    }
}

.individual-stock-GoldStock .point { border-color: yellow !important; } 
.individual-stock-IronStock .point { border-color: lightseagreen !important; } 
.individual-stock-LeatherStock .point { border-color: brown !important; } 
.individual-stock-StoneStock .point { border-color: grey !important; } 
.individual-stock-WoodStock .point { border-color: orangered !important; } 
.individual-stock-FoodStock .point { border-color: green !important; } 

.individual-stock-FoodStock {
    margin-top: 25px;
}

.dev-elt {
    height: 22px;
}