
* {
    box-sizing: border-box !important;
    margin: 0;
}
html, body, #app {
    // background-color: rgba(black, 0.42) !important;
    height: 100%;
    // overflow: hidden;
}

.main-container{
    height: 100%;
}